body {
    background-color: #f2f2f2;
    font-family: 'Nunito Sans', sans-serif;
}
ul, ol {
    margin-left: 10px; 
    padding-left: 10px;
   }
h1 {
    text-align: left
}
h2{
    font-size: 19px;
    font-weight: 600
}
h3{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}
form{
  margin-right: 20px;
}
form input{
    width: 100%;
    margin: 10px 0px 20px 0;
}
form textarea{
    width: 100%;
    margin: 10px 0px 20px 0;
}

.dropdown-item{
    padding-bottom: 20px;
    background-color: #ffffff;
}

.dropdown-item:hover{
    border: solid 1px #4a4a4a;
    background-color: #cecece;
    color: #1a1a1a;
}

.dropdown-item h3{
    padding: 0;

}

#submit{
   width: 100%;
    border-radius: 5px;
    padding: 10px 5px;
    font-weight: 600;
    color:white;
    background-color: #119eb9;
}
.main {
    width:  calc(100% - 440px);
    background-color: white;
    border: solid 2px #e7e5e5;
    border-radius: 10px;
    padding: 20px;
    margin:20px 20px;
}

.sidebar{
    
    width:200px;
     margin:20px 0px;
}
#search{
    display: flex;
    align-items: center;
    margin:5px auto;
    border-radius: 1px;
    border: solid 1px #cecece;
    width: 700px;
    height: 40px;
    font-size: 16px;
    padding-left: 5px;
}
.text {
    display: none;
}

.info{padding:10px 0px;}
.links a{font-size: 14px; color: #119eb9;}
.links li{
    list-style-type: none;
    padding: 3px 0;
}
.tab input,
.tab-content {
    display: none;
}

.tab {
    font: 0.8rem/1.2 ;
    border-radius: 3px;
    color: #a4a5aa;
    margin-bottom: 10px;
    
}
.bold{
    font-weight: bold;
}
.tab-title {
    font-size: 16px;
    padding: 10px;
    display: block;
    cursor: pointer;
}


.tab-content {
    font-size: 14px;
    cursor: pointer;
    border-left: 5px solid #b25eb6;
    padding: 10px 0px;
    padding-left: 5px;
    margin:0px 20px;
}

.tab-content a{
        font-size: 14px;
    cursor: pointer;
    text-decoration: none;
        color: #a4a5aa;
}
.tab-content a:hover{
        font-size: 14px;
    cursor: pointer;
    text-decoration: none;
        color: #a4a5aa;
}
/*
.tab :checked + .tab-title {
    background-color: #50a2de;
    border-radius: 3px 3px 0 0;
    color: #fff;
}
*/
span{color:#b25eb6}
.activelink{
    color:#b25eb6 !important;
}
.tab :checked ~ .tab-content {
    display: block;
}

