body{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  margin:0;
  padding: 0;
}

#search_country {
  border: 1px solid #757575;
  border-radius: 2px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  width: 120px;
}
#chart_div{
  width: 100vw;
  height: 100vh;
}

.country_line, .mouseover_line{
  fill: none;
}

.panel_label{
  text-anchor: middle;
  fill: white;
  text-transform: capitalize;
}

.panel_result{
  text-anchor: middle;
}

.axis line{
  display: none;
}


.axis path{
  stroke: #ACACAC;
}

.axis text {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

.area_rect{
  rx: 3;
  ry:3;
}

.area_text{
  text-transform: capitalize;
}
